html,body{
	margin:0px;
	background: url(fondo.jpg) no-repeat fixed;
}

.col{
	width:25%;
	float: left;
	color: white;
	margin-top: 15%;
	font-size: 25px;
	font-family:Arial, Helvetica, sans-serif;
}

.grados{
	position: relative;
	float: left;
	margin-left:10px;
	margin-top:80px;
	font-size: 40px;
}
.tempfrigo{

	margin-left: 25px;
	margin-top:30px;
	display: block;
	font-size: 90px;
	float:left;
}

.tempcong{

	margin-left: 20px;
	margin-top:30px;
	display: block;
	font-size: 90px;
	float:left;
}

.col2{
	width:50%;
	float: left;
}

.puerta{
	width:60%; 
	margin-left:200px; 
	margin-top:150px;	
}

#header {
	font-family:Arial, Helvetica, sans-serif;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.mas{
	float:left;
	margin-top:10px;
	margin-left:10px;
}

.mas2{
	font-size: 20px;
	width:45px;
	height:25px;
}

.menos{
	margin-top:10px;
	float: left;
	margin-left:30px;
}

.menos2{
	font-size: 20px;
	width:45px;
	height:25px;
}

button{
	background-color: black;
	border: 0px;
	width: 10%;
	color: white;
}

.eco{
	width:55%;
	margin-top: 35px;
}

.eco2{
	width:100%;
}

.nav{
	position: absolute;
	margin-left:15px;
}

.titulo{
	font-size: 50px;
	color: white;
	position: absolute;
	text-align: center;
	width: 100%;
}

.hora{
	display: block;
	font-size: 50px;
	color: white;
	position: absolute;
	right: 20px;
	top: 25px;
}

ul, ol {
	list-style:none;
}

.nav > li {
	float:left;
}

.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:flex;
}

.nav li a:hover {
	background-color:#434343;
}

.nav li ul {
	display:none;
	min-width:140px;
}

.nav li:hover > ul {
	display:flex;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-120px;
	top:0px;
}

@media screen and (max-width: 799px){
	#header {
	top:2px;
	left: 0px;
	}
	
	.puerta{
		width:80%;  
		margin-left:10%; 
		margin-top:120%;
	}
	.hora{
		font-size:40px;
		right:20px;	
	}
	
	.nav li:hover > ul {
		display:block;
	}
	
	.nav li a {
	padding:5px 6px;
	}
	
	.titulo{
		display: none;
	}
	
	button{
	background-color: black;
	border: 0px;
	margin-top: 60%;
	margin-left: 10%;
	width: 20%;
	}
	
	.col{
	width:25%;
	float: left;
	color: white;
	margin-top: 60%;
	font-size: 15px;
	}
	
	.eco{
		width:55%;
		margin-top: 35px;
	}

	.eco2{
		width:100%;
	}
	
}
